@font-face {
    font-family: 'Sarcolenta 3';
    src: url('/assets/fonts/Sarcolenta 3.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Montserrat-VariableFont_wght';
    src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  }
  